<html>

<head>
    <title>LyriixLand</title>
    <link src="/stylesheets/results.css" rel="stylesheet">
    <link rel="icon" href="https://i.ibb.co/Pxyq0WR/Logo-Minified.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/results.css">
</head>

</html>

<body>
    <h1>Artist: <%= artist %></h1>
    <h1>Song: <%= song %></h1>
    <hr>
    <pre class="lyrics-body">
        <%= lyrics %>
    </pre>
    <hr>
    <footer>
        <p>&copy;-2019 reserved by Dhyey Gami with help of lyric-api</p>
        <p>Do not use for commercial use.</p>
    </footer>
</body>