body {
    background: black;
    background: url("../photo-1506157786151-b8491531f063.jpg");
    font-family: 'Source Serif Pro', serif;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    height: 80%;
    margin: 8% 10%;
    border-radius: 10%;
.nav-main{
    background: rgba(255, 255,255,0.5);
}
h1 {
    letter-spacing: 5px;
    text-align: center;
}

form {
    margin: 25% 10%;
}

form label input {
    font: 18px Helvetica, Arial, sans-serif;
    border-radius: 24px;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
}

.submitBtn:hover {
    cursor: pointer;
}

hr {
    width: 30%;
    border: white 2px solid;
}

footer {
    text-align: center;
}ù