body {
    background: url("../62751-full_dark-music-wallpapers-wallpaper-cave.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
    padding: 20px;
}

hr {
    width: 40%;
    border: white 2px solid;
}

.lyrics-body {
    font-size: 20px;
    font-weight: 600;
}

h1 {
    letter-spacing: 3px;
}